<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/coursework">Coursework</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <img
    id="profilePic"
    src="https://files.pinapelz.com/21994085.png"
    alt="Profile Picture"
  />
</header>
<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    margin-right: 1.5rem;
    position: relative;
  }

  nav li:last-child {
    margin-right: 0;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 120% 120%;
  }

  #profilePic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 1rem;
  }

  @media only screen and (max-width: 1020px) {
    header {
      flex-direction: column;
      padding: 1rem;
    }

    nav {
      margin-top: 1rem;
    }

    nav ul {
      flex-direction: column;
      align-items: center;
    }

    nav li {
      margin: 0.5rem 0;
    }

    #profilePic {
      margin: 1rem 0 0;
    }
  }
</style>